{% extends 'base.html' %}

{% block title %}Mahsulotlar ro'yhati{% endblock %}

{% block content %}
    <h1>Mahsulotlar Ro'yxati</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="Mahsulot 1">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.short_content }}</p>
                    <a href="{{ product.get_detail_url }}" class="btn btn-primary">Batafsil</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}