{% extends 'base.html' %}

{% block title %}Maxsulotning nomlari{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="productName" class="form-label">Mahsulot nomi</label>
        <input type="text" class="form-control" id="productName" name="title" required>
    </div>
    <div class="mb-3">
        <label for="short_content" class="form-label">Mahsulot tavsifi</label>
        <textarea class="form-control" id="short_content" rows="3" name="short_content" required></textarea>
    </div>
    <div class="mb-3">
        <label for="long_content" class="form-label">Mahsulot tavsifi</label>
        <textarea class="form-control" id="long_content" rows="3" name="long_content" required></textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Narxi</label>
        <input type="number" class="form-control" id="price" name="price" required>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Mahsulot rasmi</label>
        <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
    </div>
    <div class="mb-3">
        <label for="productCategory" class="form-label">Kategoriya</label>
        <select class="form-select" id="productCategory" name="category" required>
            <option value="">Kategoriyani tanlang</option>
            <option value="elektronika">Elektronika</option>
            <option value="kiyim-kechak">Kiyim-kechak</option>
            <option value="oziq-ovqat">Oziq-ovqat</option>
            <option value="uy-ro'zg'or">Uy-ro'zg'or buyumlari</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Mahsulotni qo'shish</button>
</form>
{% endblock %}